<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Главная страница</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.2/angular.min.js"></script>
</head>
<script type="text/javascript">

    var app = angular.module("CREATE_DEV", []);
    app.controller("CREATE_DEV_CTRL", function($scope, $http){
        console.log("Hello JS");

        $scope.devs = [];

        $scope.getDev = function() {

            $http({
                url: '/programmers',
                method: 'GET'
            }).then(function(response){
                $scope.devs = response.data;

                console.log($scope.devs);
            })

        }

        $scope.getDev();

        $scope.saveDev = function() {
            console.log($scope.dev);

            $http({
                url: '/programmers',
                method: 'POST',
                data: {
                    id: $scope.dev.id,
                    name: $scope.dev.name,
                    languageList: null,
                    skillList: null
                }
            }).then(function(response){
                console.log(response);
                $scope.getDev();
            });

        }

        $scope.getOneDev = function() {
            $http({
                url: '/programmers/3',
                method: 'GET'
            }).then(function (response) {
                console.log(response);
            })
        }
        $scope.getOneDev();

    });

</script>
<body ng-app="CREATE_DEV" ng-controller="CREATE_DEV_CTRL">

    <div class="row">
        <div class="col-md-6" style="border: 1px solid red;">
            <button type="button" class="btn btn-info" onclick="location.href='/';">Инфо</button>

            <h1>Создание программиста</h1>
            <!--    id, name, languageList, skills  -->
            <label>ID: </label>
            <input ng-model="dev.id" class="form-control" type="number" placeholder="ID программиста">
            <label>Имя: </label>
            <input ng-model="dev.name" class="form-control" type="text" placeholder="Имя программиста">

            <button ng-click="saveDev()" type="button" class="btn btn-primary">
                Сохранить
            </button>
        </div>
        <div class="col-md-6" style="border: 1px solid green;">
            <table border="1">
                <tr><th>id</th><th>name</th></tr>
                <tr ng-repeat="dev in devs"><td>{{dev.id}}</td><td>{{dev.name}}</td></tr>
            </table>
        </div>
    </div>
</body>
</html>